<html>
<head>
    <title>{{ title }}</title>
    <style>
        #map-canvas {
            width: 500px;
            height: 400px;
            background-color: #CCC;
        }
    </style>
    <script src="//maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {
            var mapCanvas = document.getElementById('map-canvas');
            var mapOptions = {
                center: new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }}),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<h1>{{ title }}</h1>

<h3>Your position is</h3>
<p>
    clientIp: {{ clientIp }}<br>
countryCode: {{ location.countryCode }} <br>
countryName: {{ location.countryName }} <br>
region: {{ location.region }} <br>
city: {{ location.city }} <br>
postalCode: {{ location.postalCode }} <br>
latitude: {{ location.latitude }} <br>
longitude: {{ location.longitude }} <br>
dmaCode: {{ location.dmaCode }} <br>
areaCode: {{ location.areaCode }} <br>
metroCode: {{ location.metroCode }} <br>
continentCode: {{ location.continentCode }} <br>
regionName: {{ location.regionName }} <br>
</p>

<div id="map-canvas"></div>

<hr>
This product includes GeoLite data created by MaxMind, available from
<a href="http://www.maxmind.com">http://www.maxmind.com</a>.
</body>
</html>
